		@keyframes moveUp {
			0% { bottom: 10% }
			100% { bottom: 10% }
			50% { bottom: 15% }
		}
		@keyframes loading {
			0% { opacity: 0; }
			100% { opacity: 0; }
			50% { opacity: 1; }
		}
		@keyframes moveV {
			0% { height: 50px; bottom: 30% }
			100% { height: 50px; bottom: 30% }
			50% { height: 180px; bottom: 60% }
		}
		@keyframes moveH {
			0% { width: 50px; right: 35% }
			100% { width: 50px; right: 35% }
			50% { width: 180px; right: 50% }
		}
		@keyframes wiggle {
	    	0% { transform: rotate(0deg); }
   			80% { transform: rotate(0deg); }
   			85% { transform: rotate(5deg); }
   			95% { transform: rotate(-5deg); }
	  		100% { transform: rotate(0deg); }
		}
		@keyframes spin {
    		from {transform:rotate(0deg);}
 		   to {transform:rotate(360deg);}
		}